---
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Body from "../../components/Body.astro";
import Main from "../../components/Main.astro";
import Footer from "../../components/Footer.astro";
import ru from "../../i18n/ru";
import Heading from "@/components/Heading.astro";
import MainContent from "@/components/MainContent.astro";

const t = ru;
---

<!doctype html>
<html lang="ru">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Body>
		<Header t={t} />
		<Main>
			<Heading t={t} />
			<MainContent t={t} />
		</Main>
		<Footer />
	</Body>
</html>