---
import Heading from '@/components/Heading.astro';
import { IoLogoGithub, IoLogoInstagram, IoLogoTwitter } from 'react-icons/io5';
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import en from '../i18n/en';
import MainContent from '@/components/MainContent.astro';

const t = en;
---

<!doctype html>
<html lang='en'>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Body>
		<Header t={t} />
		<Main>
			<Heading t={t} />
			<MainContent t={t} />
		</Main>
		<Footer />
	</Body>
</html>
